In [1]:
f=open('data.csv','r')
data = f.read()

In [2]:
data

'id,name,salary,address\n1,name1,1234,ad1\n2,name2,4567,ad2\n3,name3,8910,ad1\n4,name4,111213,ad2\n5,name5,1235,ad2\n6,name6,4568,ad3\n7,name7,8911,ad2\n8,name8,111214,ad3\n9,name9,1236,ad3\n10,name10,4569,ad4\n11,name11,8912,ad3\n12,name12,111215,ad4\n13,name13,1237,ad4\n14,name14,4570,ad5\n15,name15,8913,ad4\n16,name16,111216,ad5\n17,name17,1238,ad5\n18,name18,4571,ad6\n19,name19,8914,ad5\n20,name20,111217,ad6\n21,name21,1239,ad6\n22,name22,4572,ad7\n23,name23,8915,ad6\n24,name24,111218,ad7\n25,name25,1240,ad7\n26,name26,4573,ad8\n27,name27,8916,ad7\n28,name28,111219,ad8\n29,name29,1241,ad8\n30,name30,4574,ad9\n31,name31,8917,ad8\n'

In [3]:
type(data)

str

In [4]:
print data

id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1
4,name4,111213,ad2
5,name5,1235,ad2
6,name6,4568,ad3
7,name7,8911,ad2
8,name8,111214,ad3
9,name9,1236,ad3
10,name10,4569,ad4
11,name11,8912,ad3
12,name12,111215,ad4
13,name13,1237,ad4
14,name14,4570,ad5
15,name15,8913,ad4
16,name16,111216,ad5
17,name17,1238,ad5
18,name18,4571,ad6
19,name19,8914,ad5
20,name20,111217,ad6
21,name21,1239,ad6
22,name22,4572,ad7
23,name23,8915,ad6
24,name24,111218,ad7
25,name25,1240,ad7
26,name26,4573,ad8
27,name27,8916,ad7
28,name28,111219,ad8
29,name29,1241,ad8
30,name30,4574,ad9
31,name31,8917,ad8

In [8]:
data_list = data.split('\n')

In [6]:
for i in data:
    print i
    break

i

In [10]:
for i in data_list:
    print i

id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1
4,name4,111213,ad2
5,name5,1235,ad2
6,name6,4568,ad3
7,name7,8911,ad2
8,name8,111214,ad3
9,name9,1236,ad3
10,name10,4569,ad4
11,name11,8912,ad3
12,name12,111215,ad4
13,name13,1237,ad4
14,name14,4570,ad5
15,name15,8913,ad4
16,name16,111216,ad5
17,name17,1238,ad5
18,name18,4571,ad6
19,name19,8914,ad5
20,name20,111217,ad6
21,name21,1239,ad6
22,name22,4572,ad7
23,name23,8915,ad6
24,name24,111218,ad7
25,name25,1240,ad7
26,name26,4573,ad8
27,name27,8916,ad7
28,name28,111219,ad8
29,name29,1241,ad8
30,name30,4574,ad9
31,name31,8917,ad8

In [11]:
for i in data_list:
    print i.split(',')

['id', 'name', 'salary', 'address']
['1', 'name1', '1234', 'ad1']
['2', 'name2', '4567', 'ad2']
['3', 'name3', '8910', 'ad1']
['4', 'name4', '111213', 'ad2']
['5', 'name5', '1235', 'ad2']
['6', 'name6', '4568', 'ad3']
['7', 'name7', '8911', 'ad2']
['8', 'name8', '111214', 'ad3']
['9', 'name9', '1236', 'ad3']
['10', 'name10', '4569', 'ad4']
['11', 'name11', '8912', 'ad3']
['12', 'name12', '111215', 'ad4']
['13', 'name13', '1237', 'ad4']
['14', 'name14', '4570', 'ad5']
['15', 'name15', '8913', 'ad4']
['16', 'name16', '111216', 'ad5']
['17', 'name17', '1238', 'ad5']
['18', 'name18', '4571', 'ad6']
['19', 'name19', '8914', 'ad5']
['20', 'name20', '111217', 'ad6']
['21', 'name21', '1239', 'ad6']
['22', 'name22', '4572', 'ad7']
['23', 'name23', '8915', 'ad6']
['24', 'name24', '111218', 'ad7']
['25', 'name25', '1240', 'ad7']
['26', 'name26', '4573', 'ad8']
['27', 'name27', '8916', 'ad7']
['28', 'name28', '111219', 'ad8']
['29', 'name29', '1241', 'ad8']
['30', 'name30', '4574', 'ad9']
['31', 'name31', '8917', 'ad8']
['']

In [12]:
for i in data_list:
    print i.split(',')[1]

name
name1
name2
name3
name4
name5
name6
name7
name8
name9
name10
name11
name12
name13
name14
name15
name16
name17
name18
name19
name20
name21
name22
name23
name24
name25
name26
name27
name28
name29
name30
name31

IndexError: list index out of range

In [13]:
for i in data_list:
    values_record = i.split(',')
    if len(values_record)>=2:
        print values_record[1]

name
name1
name2
name3
name4
name5
name6
name7
name8
name9
name10
name11
name12
name13
name14
name15
name16
name17
name18
name19
name20
name21
name22
name23
name24
name25
name26
name27
name28
name29
name30
name31

In [15]:
for i in data_list[1:]:
    values_record = i.split(',')
    if len(values_record)>=2:
        print values_record[1]

name1
name2
name3
name4
name5
name6
name7
name8
name9
name10
name11
name12
name13
name14
name15
name16
name17
name18
name19
name20
name21
name22
name23
name24
name25
name26
name27
name28
name29
name30
name31

In [21]:
#[{'id':1,'name':'name1'},{'id':2,'name':'name2'}]
f=open('data.csv','r')
data = f.readlines()
keys = data[0].strip('\n').split(',')
persons = []
for i in data[1:]:
    i = i.strip('\n')
    persons.append(dict(zip(keys,i.split(','))))
persons

[{'address': 'ad1', 'id': '1', 'name': 'name1', 'salary': '1234'},
 {'address': 'ad2', 'id': '2', 'name': 'name2', 'salary': '4567'},
 {'address': 'ad1', 'id': '3', 'name': 'name3', 'salary': '8910'},
 {'address': 'ad2', 'id': '4', 'name': 'name4', 'salary': '111213'},
 {'address': 'ad2', 'id': '5', 'name': 'name5', 'salary': '1235'},
 {'address': 'ad3', 'id': '6', 'name': 'name6', 'salary': '4568'},
 {'address': 'ad2', 'id': '7', 'name': 'name7', 'salary': '8911'},
 {'address': 'ad3', 'id': '8', 'name': 'name8', 'salary': '111214'},
 {'address': 'ad3', 'id': '9', 'name': 'name9', 'salary': '1236'},
 {'address': 'ad4', 'id': '10', 'name': 'name10', 'salary': '4569'},
 {'address': 'ad3', 'id': '11', 'name': 'name11', 'salary': '8912'},
 {'address': 'ad4', 'id': '12', 'name': 'name12', 'salary': '111215'},
 {'address': 'ad4', 'id': '13', 'name': 'name13', 'salary': '1237'},
 {'address': 'ad5', 'id': '14', 'name': 'name14', 'salary': '4570'},
 {'address': 'ad4', 'id': '15', 'name': 'name15', 'salary': '8913'},
 {'address': 'ad5', 'id': '16', 'name': 'name16', 'salary': '111216'},
 {'address': 'ad5', 'id': '17', 'name': 'name17', 'salary': '1238'},
 {'address': 'ad6', 'id': '18', 'name': 'name18', 'salary': '4571'},
 {'address': 'ad5', 'id': '19', 'name': 'name19', 'salary': '8914'},
 {'address': 'ad6', 'id': '20', 'name': 'name20', 'salary': '111217'},
 {'address': 'ad6', 'id': '21', 'name': 'name21', 'salary': '1239'},
 {'address': 'ad7', 'id': '22', 'name': 'name22', 'salary': '4572'},
 {'address': 'ad6', 'id': '23', 'name': 'name23', 'salary': '8915'},
 {'address': 'ad7', 'id': '24', 'name': 'name24', 'salary': '111218'},
 {'address': 'ad7', 'id': '25', 'name': 'name25', 'salary': '1240'},
 {'address': 'ad8', 'id': '26', 'name': 'name26', 'salary': '4573'},
 {'address': 'ad7', 'id': '27', 'name': 'name27', 'salary': '8916'},
 {'address': 'ad8', 'id': '28', 'name': 'name28', 'salary': '111219'},
 {'address': 'ad8', 'id': '29', 'name': 'name29', 'salary': '1241'},
 {'address': 'ad9', 'id': '30', 'name': 'name30', 'salary': '4574'},
 {'address': 'ad8', 'id': '31', 'name': 'name31', 'salary': '8917'}]

In [23]:
#[{'id':1,'name':'name1'},{'id':2,'name':'name2'}]
f=open('data.csv','r')
data = f.readlines()
data = map(lambda rec:rec.strip('\n'),data)
keys = data[0].split(',')
print [dict(zip(keys,rec.split(','))) for rec in data[1:]]

[{'salary': '1234', 'address': 'ad1', 'id': '1', 'name': 'name1'}, {'salary': '4567', 'address': 'ad2', 'id': '2', 'name': 'name2'}, {'salary': '8910', 'address': 'ad1', 'id': '3', 'name': 'name3'}, {'salary': '111213', 'address': 'ad2', 'id': '4', 'name': 'name4'}, {'salary': '1235', 'address': 'ad2', 'id': '5', 'name': 'name5'}, {'salary': '4568', 'address': 'ad3', 'id': '6', 'name': 'name6'}, {'salary': '8911', 'address': 'ad2', 'id': '7', 'name': 'name7'}, {'salary': '111214', 'address': 'ad3', 'id': '8', 'name': 'name8'}, {'salary': '1236', 'address': 'ad3', 'id': '9', 'name': 'name9'}, {'salary': '4569', 'address': 'ad4', 'id': '10', 'name': 'name10'}, {'salary': '8912', 'address': 'ad3', 'id': '11', 'name': 'name11'}, {'salary': '111215', 'address': 'ad4', 'id': '12', 'name': 'name12'}, {'salary': '1237', 'address': 'ad4', 'id': '13', 'name': 'name13'}, {'salary': '4570', 'address': 'ad5', 'id': '14', 'name': 'name14'}, {'salary': '8913', 'address': 'ad4', 'id': '15', 'name': 'name15'}, {'salary': '111216', 'address': 'ad5', 'id': '16', 'name': 'name16'}, {'salary': '1238', 'address': 'ad5', 'id': '17', 'name': 'name17'}, {'salary': '4571', 'address': 'ad6', 'id': '18', 'name': 'name18'}, {'salary': '8914', 'address': 'ad5', 'id': '19', 'name': 'name19'}, {'salary': '111217', 'address': 'ad6', 'id': '20', 'name': 'name20'}, {'salary': '1239', 'address': 'ad6', 'id': '21', 'name': 'name21'}, {'salary': '4572', 'address': 'ad7', 'id': '22', 'name': 'name22'}, {'salary': '8915', 'address': 'ad6', 'id': '23', 'name': 'name23'}, {'salary': '111218', 'address': 'ad7', 'id': '24', 'name': 'name24'}, {'salary': '1240', 'address': 'ad7', 'id': '25', 'name': 'name25'}, {'salary': '4573', 'address': 'ad8', 'id': '26', 'name': 'name26'}, {'salary': '8916', 'address': 'ad7', 'id': '27', 'name': 'name27'}, {'salary': '111219', 'address': 'ad8', 'id': '28', 'name': 'name28'}, {'salary': '1241', 'address': 'ad8', 'id': '29', 'name': 'name29'}, {'salary': '4574', 'address': 'ad9', 'id': '30', 'name': 'name30'}, {'salary': '8917', 'address': 'ad8', 'id': '31', 'name': 'name31'}]

In [24]:
#[{'id':1,'name':'name1'},{'id':2,'name':'name2'}]
f=open('data.csv','r')
data = f.readlines()
data = map(lambda rec:rec.strip('\n'),data)
keys = data[0].split(',')
print [dict(zip(keys,rec.split(','))) for rec in data[1:]]

[{'': ''}, {'': 'address'}, {'': 'ad1'}, {'': 'ad2'}, {'': 'ad1'}, {'': 'ad2'}, {'': 'ad2'}, {'': 'ad3'}, {'': 'ad2'}, {'': 'ad3'}, {'': 'ad3'}, {'': 'ad4'}, {'': 'ad3'}, {'': 'ad4'}, {'': 'ad4'}, {'': 'ad5'}, {'': 'ad4'}, {'': 'ad5'}, {'': 'ad5'}, {'': 'ad6'}, {'': 'ad5'}, {'': 'ad6'}, {'': 'ad6'}, {'': 'ad7'}, {'': 'ad6'}, {'': 'ad7'}, {'': 'ad7'}, {'': 'ad8'}, {'': 'ad7'}, {'': 'ad8'}, {'': 'ad8'}, {'': 'ad9'}, {'': 'ad8'}]

In [27]:
#[{'id':1,'name':'name1'},{'id':2,'name':'name2'}]
f=open('data.csv','r')
data = f.readlines()
for i in data:
    print i
    if not i:
        print i
        data.pop(0)
    else:
        break
data = map(lambda rec:rec.strip('\n'),data)
keys = data[0].split(',')
print [dict(zip(keys,rec.split(','))) for rec in data[1:]]

,,,

[{'': ''}, {'': 'address'}, {'': 'ad1'}, {'': 'ad2'}, {'': 'ad1'}, {'': 'ad2'}, {'': 'ad2'}, {'': 'ad3'}, {'': 'ad2'}, {'': 'ad3'}, {'': 'ad3'}, {'': 'ad4'}, {'': 'ad3'}, {'': 'ad4'}, {'': 'ad4'}, {'': 'ad5'}, {'': 'ad4'}, {'': 'ad5'}, {'': 'ad5'}, {'': 'ad6'}, {'': 'ad5'}, {'': 'ad6'}, {'': 'ad6'}, {'': 'ad7'}, {'': 'ad6'}, {'': 'ad7'}, {'': 'ad7'}, {'': 'ad8'}, {'': 'ad7'}, {'': 'ad8'}, {'': 'ad8'}, {'': 'ad9'}, {'': 'ad8'}]

In [28]:
if []:
    print "sdfsdfsdf"

In [29]:
if ['']:
    print "sdfsdfsd"

sdfsdfsd

In [30]:
f=open('data.csv','r')
data = f.readlines()
print data

[',,,\n', ',,,\n', 'id,name,salary,address\n', '1,name1,1234,ad1\n', '2,name2,4567,ad2\n', '3,name3,8910,ad1\n', '4,name4,111213,ad2\n', '5,name5,1235,ad2\n', '6,name6,4568,ad3\n', '7,name7,8911,ad2\n', '8,name8,111214,ad3\n', '9,name9,1236,ad3\n', '10,name10,4569,ad4\n', '11,name11,8912,ad3\n', '12,name12,111215,ad4\n', '13,name13,1237,ad4\n', '14,name14,4570,ad5\n', '15,name15,8913,ad4\n', '16,name16,111216,ad5\n', '17,name17,1238,ad5\n', '18,name18,4571,ad6\n', '19,name19,8914,ad5\n', '20,name20,111217,ad6\n', '21,name21,1239,ad6\n', '22,name22,4572,ad7\n', '23,name23,8915,ad6\n', '24,name24,111218,ad7\n', '25,name25,1240,ad7\n', '26,name26,4573,ad8\n', '27,name27,8916,ad7\n', '28,name28,111219,ad8\n', '29,name29,1241,ad8\n', '30,name30,4574,ad9\n', '31,name31,8917,ad8\n']

In [36]:
#[{'id':1,'name':'name1'},{'id':2,'name':'name2'}]
f=open('data.csv','r')
data = f.readlines()
for i in data:
    if i==",,,\n":
        print i
        data.pop(0)
    else:
        break
data = map(lambda rec:rec.strip('\n'),data)
keys = data[0].split(',')
print [dict(zip(keys,rec.split(','))) for rec in data[1:]]

,,,

[{'': 'address'}, {'': 'ad1'}, {'': 'ad2'}, {'': 'ad1'}, {'': 'ad2'}, {'': 'ad2'}, {'': 'ad3'}, {'': 'ad2'}, {'': 'ad3'}, {'': 'ad3'}, {'': 'ad4'}, {'': 'ad3'}, {'': 'ad4'}, {'': 'ad4'}, {'': 'ad5'}, {'': 'ad4'}, {'': 'ad5'}, {'': 'ad5'}, {'': 'ad6'}, {'': 'ad5'}, {'': 'ad6'}, {'': 'ad6'}, {'': 'ad7'}, {'': 'ad6'}, {'': 'ad7'}, {'': 'ad7'}, {'': 'ad8'}, {'': 'ad7'}, {'': 'ad8'}, {'': 'ad8'}, {'': 'ad9'}, {'': 'ad8'}]

In [39]:
data=[1,2,3,4]
for i in data:
    print i
    data.pop(0)
    print data

1
[2, 3, 4]
3
[3, 4]

In [41]:
#[{'id':1,'name':'name1'},{'id':2,'name':'name2'}]
f=open('data.csv','r')
data = f.readlines()
count = 0
for i in data:
    if i==",,,\n":
        count = count+1
    else:
        break
data = data[count:]
data = map(lambda rec:rec.strip('\n'),data)
keys = data[0].split(',')
print [dict(zip(keys,rec.split(','))) for rec in data[1:]]

[{'salary': '1234', 'address': 'ad1', 'id': '1', 'name': 'name1'}, {'salary': '4567', 'address': 'ad2', 'id': '2', 'name': 'name2'}, {'salary': '8910', 'address': 'ad1', 'id': '3', 'name': 'name3'}, {'salary': '111213', 'address': 'ad2', 'id': '4', 'name': 'name4'}, {'salary': '1235', 'address': 'ad2', 'id': '5', 'name': 'name5'}, {'salary': '4568', 'address': 'ad3', 'id': '6', 'name': 'name6'}, {'salary': '8911', 'address': 'ad2', 'id': '7', 'name': 'name7'}, {'salary': '111214', 'address': 'ad3', 'id': '8', 'name': 'name8'}, {'salary': '1236', 'address': 'ad3', 'id': '9', 'name': 'name9'}, {'salary': '4569', 'address': 'ad4', 'id': '10', 'name': 'name10'}, {'salary': '8912', 'address': 'ad3', 'id': '11', 'name': 'name11'}, {'salary': '111215', 'address': 'ad4', 'id': '12', 'name': 'name12'}, {'salary': '1237', 'address': 'ad4', 'id': '13', 'name': 'name13'}, {'salary': '4570', 'address': 'ad5', 'id': '14', 'name': 'name14'}, {'salary': '8913', 'address': 'ad4', 'id': '15', 'name': 'name15'}, {'salary': '111216', 'address': 'ad5', 'id': '16', 'name': 'name16'}, {'salary': '1238', 'address': 'ad5', 'id': '17', 'name': 'name17'}, {'salary': '4571', 'address': 'ad6', 'id': '18', 'name': 'name18'}, {'salary': '8914', 'address': 'ad5', 'id': '19', 'name': 'name19'}, {'salary': '111217', 'address': 'ad6', 'id': '20', 'name': 'name20'}, {'salary': '1239', 'address': 'ad6', 'id': '21', 'name': 'name21'}, {'salary': '4572', 'address': 'ad7', 'id': '22', 'name': 'name22'}, {'salary': '8915', 'address': 'ad6', 'id': '23', 'name': 'name23'}, {'salary': '111218', 'address': 'ad7', 'id': '24', 'name': 'name24'}, {'salary': '1240', 'address': 'ad7', 'id': '25', 'name': 'name25'}, {'salary': '4573', 'address': 'ad8', 'id': '26', 'name': 'name26'}, {'salary': '8916', 'address': 'ad7', 'id': '27', 'name': 'name27'}, {'salary': '111219', 'address': 'ad8', 'id': '28', 'name': 'name28'}, {'salary': '1241', 'address': 'ad8', 'id': '29', 'name': 'name29'}, {'salary': '4574', 'address': 'ad9', 'id': '30', 'name': 'name30'}, {'salary': '8917', 'address': 'ad8', 'id': '31', 'name': 'name31'}]

In [44]:
#[{'id':1,'name':'name1'},{'id':2,'name':'name2'}]
f=open('data.csv','r')
data = f.readlines()
for rec in data:
    
print wrong_data_position
data = map(lambda rec:rec.strip('\n'),data)
keys = data[0].split(',')
print [dict(zip(keys,rec.split(','))) for rec in data[1:]]

[0, 0]
[{'': ''}, {'': 'address'}, {'': 'ad1'}, {'': 'ad2'}, {'': 'ad1'}, {'': 'ad2'}, {'': 'ad2'}, {'': 'ad3'}, {'': 'ad2'}, {'': 'ad3'}, {'': 'ad3'}, {'': 'ad4'}, {'': 'ad3'}, {'': 'ad4'}, {'': 'ad4'}, {'': 'ad5'}, {'': 'ad4'}, {'': 'ad5'}, {'': 'ad5'}, {'': 'ad6'}, {'': 'ad5'}, {'': 'ad6'}, {'': 'ad6'}, {'': 'ad7'}, {'': 'ad6'}, {'': 'ad7'}, {'': 'ad7'}, {'': 'ad8'}, {'': 'ad7'}, {'': 'ad8'}, {'': 'ad8'}, {'': 'ad9'}, {'': 'ad8'}]

In [46]:
enumerate(data)

In [47]:
for i in enumerate(data):
    print i

(0, ',,,')
(1, ',,,')
(2, 'id,name,salary,address')
(3, '1,name1,1234,ad1')
(4, '2,name2,4567,ad2')
(5, '3,name3,8910,ad1')
(6, '4,name4,111213,ad2')
(7, '5,name5,1235,ad2')
(8, '6,name6,4568,ad3')
(9, '7,name7,8911,ad2')
(10, '8,name8,111214,ad3')
(11, '9,name9,1236,ad3')
(12, '10,name10,4569,ad4')
(13, '11,name11,8912,ad3')
(14, '12,name12,111215,ad4')
(15, '13,name13,1237,ad4')
(16, '14,name14,4570,ad5')
(17, '15,name15,8913,ad4')
(18, '16,name16,111216,ad5')
(19, '17,name17,1238,ad5')
(20, '18,name18,4571,ad6')
(21, '19,name19,8914,ad5')
(22, '20,name20,111217,ad6')
(23, '21,name21,1239,ad6')
(24, '22,name22,4572,ad7')
(25, '23,name23,8915,ad6')
(26, '24,name24,111218,ad7')
(27, '25,name25,1240,ad7')
(28, '26,name26,4573,ad8')
(29, '27,name27,8916,ad7')
(30, '28,name28,111219,ad8')
(31, '29,name29,1241,ad8')
(32, '30,name30,4574,ad9')
(33, '31,name31,8917,ad8')

In [53]:
l=[]
for index,value in enumerate(data):
    if value.strip('\n')==",,,":
        l.append(index)
[data.pop(i) for i in l]
print data

['1,name1,1234,ad1', '2,name2,4567,ad2', '3,name3,8910,ad1', '4,name4,111213,ad2', '5,name5,1235,ad2', '6,name6,4568,ad3', '7,name7,8911,ad2', '8,name8,111214,ad3', '9,name9,1236,ad3', '10,name10,4569,ad4', '11,name11,8912,ad3', '12,name12,111215,ad4', '13,name13,1237,ad4', '14,name14,4570,ad5', '15,name15,8913,ad4', '16,name16,111216,ad5', '17,name17,1238,ad5', '18,name18,4571,ad6', '19,name19,8914,ad5', '20,name20,111217,ad6', '21,name21,1239,ad6', '22,name22,4572,ad7', '23,name23,8915,ad6', '24,name24,111218,ad7', '25,name25,1240,ad7', '26,name26,4573,ad8', '27,name27,8916,ad7', '28,name28,111219,ad8', '29,name29,1241,ad8', '30,name30,4574,ad9', '31,name31,8917,ad8']

In [62]:
#[{'id':1,'name':'name1'},{'id':2,'name':'name2'}]
f=open('data.csv','r')
data = f.readlines()
data=[rec for rec in data if rec!=",,,\n"]
data = map(lambda rec:rec.strip('\n'),data)
keys = data[0].split(',')
print [dict(zip(keys,rec.split(','))) for rec in data[1:]]

[{'salary': '1234', 'address': 'ad1', 'id': '1', 'name': 'name1'}, {'salary': '4567', 'address': 'ad2', 'id': '2', 'name': 'name2'}, {'salary': '8910', 'address': 'ad1', 'id': '3', 'name': 'name3'}, {'salary': '111213', 'address': 'ad2', 'id': '4', 'name': 'name4'}, {'salary': '1235', 'address': 'ad2', 'id': '5', 'name': 'name5'}, {'salary': '4568', 'address': 'ad3', 'id': '6', 'name': 'name6'}, {'salary': '8911', 'address': 'ad2', 'id': '7', 'name': 'name7'}, {'salary': '111214', 'address': 'ad3', 'id': '8', 'name': 'name8'}, {'salary': '1236', 'address': 'ad3', 'id': '9', 'name': 'name9'}, {'salary': '4569', 'address': 'ad4', 'id': '10', 'name': 'name10'}, {'salary': '8912', 'address': 'ad3', 'id': '11', 'name': 'name11'}, {'salary': '111215', 'address': 'ad4', 'id': '12', 'name': 'name12'}, {'salary': '1237', 'address': 'ad4', 'id': '13', 'name': 'name13'}, {'salary': '4570', 'address': 'ad5', 'id': '14', 'name': 'name14'}, {'salary': '8913', 'address': 'ad4', 'id': '15', 'name': 'name15'}, {'salary': '111216', 'address': 'ad5', 'id': '16', 'name': 'name16'}, {'salary': '1238', 'address': 'ad5', 'id': '17', 'name': 'name17'}, {'salary': '4571', 'address': 'ad6', 'id': '18', 'name': 'name18'}, {'salary': '8914', 'address': 'ad5', 'id': '19', 'name': 'name19'}, {'salary': '111217', 'address': 'ad6', 'id': '20', 'name': 'name20'}, {'salary': '1239', 'address': 'ad6', 'id': '21', 'name': 'name21'}, {'salary': '4572', 'address': 'ad7', 'id': '22', 'name': 'name22'}, {'salary': '8915', 'address': 'ad6', 'id': '23', 'name': 'name23'}, {'salary': '111218', 'address': 'ad7', 'id': '24', 'name': 'name24'}, {'salary': '1240', 'address': 'ad7', 'id': '25', 'name': 'name25'}, {'salary': '4573', 'address': 'ad8', 'id': '26', 'name': 'name26'}, {'salary': '8916', 'address': 'ad7', 'id': '27', 'name': 'name27'}, {'salary': '111219', 'address': 'ad8', 'id': '28', 'name': 'name28'}, {'salary': '1241', 'address': 'ad8', 'id': '29', 'name': 'name29'}, {'salary': '4574', 'address': 'ad9', 'id': '30', 'name': 'name30'}, {'salary': '8917', 'address': 'ad8', 'id': '31', 'name': 'name31'}]

In [63]:
#[{'id':1,'name':'name1'},{'id':2,'name':'name2'}]
f=open('data.csv','r')
data = f.readlines()
removed_chars = [',,,\n',',\n']
data=[rec for rec in data if rec not in removed_chars]
data = map(lambda rec:rec.strip('\n'),data)
keys = data[0].split(',')
print [dict(zip(keys,rec.split(','))) for rec in data[1:]]

[{'salary': '1234', 'address': 'ad1', 'id': '1', 'name': 'name1'}, {'salary': '4567', 'address': 'ad2', 'id': '2', 'name': 'name2'}, {'salary': '8910', 'address': 'ad1', 'id': '3', 'name': 'name3'}, {'salary': '111213', 'address': 'ad2', 'id': '4', 'name': 'name4'}, {'salary': '1235', 'address': 'ad2', 'id': '5', 'name': 'name5'}, {'salary': '4568', 'address': 'ad3', 'id': '6', 'name': 'name6'}, {'salary': '8911', 'address': 'ad2', 'id': '7', 'name': 'name7'}, {'salary': '111214', 'address': 'ad3', 'id': '8', 'name': 'name8'}, {'salary': '1236', 'address': 'ad3', 'id': '9', 'name': 'name9'}, {'salary': '4569', 'address': 'ad4', 'id': '10', 'name': 'name10'}, {'salary': '8912', 'address': 'ad3', 'id': '11', 'name': 'name11'}, {'salary': '111215', 'address': 'ad4', 'id': '12', 'name': 'name12'}, {'salary': '1237', 'address': 'ad4', 'id': '13', 'name': 'name13'}, {'salary': '4570', 'address': 'ad5', 'id': '14', 'name': 'name14'}, {'salary': '8913', 'address': 'ad4', 'id': '15', 'name': 'name15'}, {'salary': '111216', 'address': 'ad5', 'id': '16', 'name': 'name16'}, {'salary': '1238', 'address': 'ad5', 'id': '17', 'name': 'name17'}, {'salary': '4571', 'address': 'ad6', 'id': '18', 'name': 'name18'}, {'salary': '8914', 'address': 'ad5', 'id': '19', 'name': 'name19'}, {'salary': '111217', 'address': 'ad6', 'id': '20', 'name': 'name20'}, {'salary': '1239', 'address': 'ad6', 'id': '21', 'name': 'name21'}, {'salary': '4572', 'address': 'ad7', 'id': '22', 'name': 'name22'}, {'salary': '8915', 'address': 'ad6', 'id': '23', 'name': 'name23'}, {'salary': '111218', 'address': 'ad7', 'id': '24', 'name': 'name24'}, {'salary': '1240', 'address': 'ad7', 'id': '25', 'name': 'name25'}, {'salary': '4573', 'address': 'ad8', 'id': '26', 'name': 'name26'}, {'salary': '8916', 'address': 'ad7', 'id': '27', 'name': 'name27'}, {'salary': '111219', 'address': 'ad8', 'id': '28', 'name': 'name28'}, {'salary': '1241', 'address': 'ad8', 'id': '29', 'name': 'name29'}, {'salary': '4574', 'address': 'ad9', 'id': '30', 'name': 'name30'}, {'salary': '8917', 'address': 'ad8', 'id': '31', 'name': 'name31'}]